html,
body,
main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  width: 20%;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

img {
  width: 100%;
  border-radius: 0.7rem;
}

.container p:nth-child(2) {
  font-weight: 700;
  font-size: 1.4rem;
  margin: 1.5rem 0 1rem;
  color: hsl(218, 44%, 22%);
  display: inline-block;
  width: 85%;
  align-self: center;
}

.container p:nth-child(3) {
  font-weight: 400;
  font-size: 1rem;
  margin: 0 0 1rem;
  color: hsl(220, 15%, 55%);
  display: inline-block;
  width: 90%;
  align-self: center;
}

@media screen and (max-width: 375px) {
  .container {
    width: 90%;
  }
}
